<!DOCTYPE html>

<script src="/js/cursor.js"></script>
<script src="/js/fireworks.js"></script>
<script src="/js/canvas-particle.js"></script>
<html <%- has_config('language') ? ' lang="' + get_config('language').substring(0, 2) + '"' : '' %>>
<head>
    <%- partial('common/head') %>
</head>
<body class="is-<%= column_count() %>-column">
    <%- partial('common/navbar', { page }) %>

    <% function main_column_class() {
    
        switch (column_count()) {
            case 1:
                return 'is-10';
            case 2:
                return 'is-6-tablet is-6-desktop is-10-widescreen';
            case 3:
                return 'is-8-tablet is-8-desktop is-6-widescreen';
        }
     
        return '';
    } %>
    <% function col(){
    if(!is_post()){
        return main_column_class();
        }
    else{
        return 'is-6-tablet is-6-desktop is-9-widescreen';
        } 
    } %>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column <%= col() %> has-order-2 column-main"><%- body %></div>
                <%- partial('common/widget', { position: 'left' }) %>
                <%- partial('common/widget', { position: 'right' }) %>
            </div>
        </div>
    </section>
    
    <%- partial('common/footer') %>
    <%- partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- partial('search/' + get_config('search.type')) %>
    <% } %>
    <!-- 雪花特效 -->
    <script type="text/javascript">
      var windowWidth = $(window).width();
      if (windowWidth > 480) {
        document.write('<script type="text/javascript" src="/js/src/snow.js"><\/script>');
      }
    </script>
    <!-- tidio -->
    
    <script src="//code.tidio.co/ui3pfxbwv0bfvkvxwibyaejafrndrrqm.js"></script>
    <amp-auto-ads type="adsense" data-ad-client="ca-pub-7097707906527513"></amp-auto-ads>

<script type="text/javascript">
        window.onload = function() {
            //配置
            var config = {
                vx: 4,  //小球x轴速度,正为右，负为左
                vy: 4,  //小球y轴速度
                height: 3,  //小球高宽，其实为正方形，所以不宜太大
                width: 3,
                count: 200,     //点个数
                color: "130,222,222",     //点颜色
                stroke: "130,255,255",      //线条颜色
                dist: 6000,     //点吸附距离
                e_dist: 20000,  //鼠标吸附加速距离
                max_conn: 10    //点到点最大连接数
            }

            //调用
            CanvasParticle(config);
        }
    </script>
   <script type="text/javascript">
        $(document).ready(function(){
          var stars=800;  /*星星的密集程度，数字越大越多*/
          var $stars=$(".stars");
          var r=800;   /*星星的看起来的距离,值越大越远,可自行调制到自己满意的样子*/
          for(var i=0;i<stars;i++){
            var $star=$("<div/>").addClass("star");
            $stars.append($star);
          }
          $(".star").each(function(){
            var cur=$(this);
            var s=0.2+(Math.random()*1);
            var curR=r+(Math.random()*300);
            cur.css({ 
              transformOrigin:"0 0 "+curR+"px",
              transform:" translate3d(0,0,-"+curR+"px) rotateY("+(Math.random()*360)+"deg) rotateX("+(Math.random()*-50)+"deg) scale("+s+","+s+")"
               
            })
          })
        })
    </script>
</body>
</html>